#app {
  display: contents;
}

.container {
  max-width: 1200px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.light {
  background-color: white;
}

.dark {
  background-color: #1c2022;
}
