.item-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--prominent);
}

.item-title > a {
  text-decoration: none;
}

.item-metadata {
  margin-top: 0.25em;
  margin-bottom: 0;
  color: var(--low-contrast);
}

.item-metadata a {
  color: var(--high-contrast);
}

.item-by {
  color: var(--high-contrast);
}

.item-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.item-text {
  color: var(--high-contrast);
}
