.item-list {
  padding-left: 0px;
  list-style-type: none;
  display: grid;
  grid-gap: 1em 0;
}

.item-list .item-list {
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
}

.item-list .item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.item-list .item-title {
  color: var(--prominent);
}

.dark .item-list .item-title {
  color: var(--high-contrast);
}

.item-list .item-title > a {
  text-decoration: none;
}

.item-list .item-metadata {
  margin-top: 0.25em;
  margin-bottom: 0;
}

.item-list .item-metadata {
  color: var(--low-contrast);
}

.item-list .item-metadata a {
  color: var(--high-contrast);
}

.post .show-replies,
.post .load-more {
  justify-self: start;
}

.post .show-replies,
.post .item-list .load-more {
  margin-left: 2em;
}

.show-replies,
.load-more {
  background: transparent linear-gradient(to bottom, transparent 0%, var(--backdrop) 100%);
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 1px solid var(--low-contrast);
  box-shadow: none;
  color: var(--prominent);
  font-weight: bold;
  cursor: pointer;
}

.show-replies:focus,
.load-more:focus {
  outline: none;
}

.show-replies:disabled,
.load-more:disabled {
  opacity: 0.5;
  cursor: default;
}

.show-replies:not(:disabled):hover,
.load-more:not(:disabled):hover {
  background: transparent linear-gradient(to top, transparent 0%, var(--backdrop) 100%);
}
