nav {
  font-size: 1.125rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav a:focus {
  outline: none;
}

nav a.active {
  color: var(--prominent);
}

nav a:not(.active) {
  color: var(--high-contrast);
}

nav > ul {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0px 10px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

nav > ul > li:last-child {
  justify-self: end;
}

nav button {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
}

nav button:focus {
  outline: none;
}
