.post .item-list {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 0.5em 0;
}

.post .item-list .item {
  background-color: var(--backdrop);
  border-radius: 3px;
  padding: 0.5em;
}

.post header {
  margin-top: 2em;
}

.post header .item-title {
  font-size: 200%;
}

.dark .post header .item-title {
  color: var(--high-contrast);
}
