.comments {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 0.5em 0;
}

.comments .item {
  background-color: rgba(128, 128, 128, 0.1411764705882353);
  border-radius: 3px;
  padding: 0.5em;
}

.post header {
  margin-top: 2em;
}

.post header .item-title {
  font-size: 200%;
}
