.stories {
  padding-left: 0px;
  list-style-type: none;
  display: grid;
  grid-row-gap: 1em;
}

.stories .item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.light .stories .item-title {
  color: rgb(187, 46, 31);
}

.dark .stories .item-title {
  color: rgb(203, 203, 203);
}

.stories .item-title > a {
  text-decoration: none;
}

.stories .item-metadata {
  margin-top: 0.25em;
  margin-bottom: 0;
}

.light .stories .item-metadata,
.dark .stories .item-metadata {
  color: gray;
}

.light .stories .item-metadata a {
  color: black;
}

.dark .stories .item-metadata a {
  color: #bebebe;
}
