.user-profile {
  margin-top: 2em;
}

.user-id {
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 0;
}

.light .user-id {
  color: var(--high-contrast);
}

.user-metadata {
  margin-top: 0.25em;
  margin-bottom: 0;
  color: var(--low-contrast);
}

.user-joined,
.user-karma {
  font-weight: bold;
}

.user-posts {
  color: var(--high-contrast);
}
